/*
	Anylytics Style Guide
	By: Nabil Enayet 1/3/2015
	http://anylytics.io
*/

/******* FONTS ********/

@font-face {
 font-family: 'SourceSans';
 src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
 font-family: 'Andada-Italic';
 src: url("../fonts/Andada-Italic.otf") format("opentype");
}

@font-face {
 font-family: 'Andada-Regular';
 src: url("../fonts/Andada-Regular.otf") format("opentype");
}

@font-face {
 font-family: 'Andada-Bold';
 src: url("../fonts/Andada-Bold.otf") format("opentype");
}

/******* TYPOGRAPHY ********/

h1, h2, h3, h4, h5, h6 {
	font-family: 'SourceSans';
}

#marginfix {
	margin-top:-5px;
}

.marginfix2 {
    margin-top: -10px;
}

h1,h2 {
	color:#456942;
}

h3,h4 {
	color:#54A148;
}

h5,h6 {
	color:#565656;
}

html, body {
	font-family: 'Andada-Regular';
	color:#565656;
	height:100%;
	width:100%;
	overflow:hidden;
}

a {
	color:#9B4D28;
	text-decoration: underline;
}

a:hover {
	color: #E2B197;
	text-decoration: none;
	cursor: pointer;
}

/******* TOP MENU ********/

#logo {
	padding-top:5px;
	height:30px;
	opacity: 0.6;
}

#logo:hover {
	opacity:1;
}

.headButton {
	padding-top:5px;
	height:30px;
	opacity:.8;
}

.headButton:hover {
	opacity: 1;
}

.headButtonActive {
	height:36px;
	padding-top:3px;
}

#logoxs {
	padding-top:10px;
	height:60px;
}

.navbar-brand #logoxs {
	margin-top:-20px;
	margin-left:-10px;
}

#head {
	position:fixed;
	top:8px;
	left:35px;
	z-index: 1000;
	display:inline-block;
}

.navbar {
	border-color:#54A148;
	border-bottom-style:solid;
	//border-bottom-width:2px;
	box-shadow: 1px 1px 4px #888888;
}

/******* CONTENT ********/

#mainarea {
	height:auto;
	margin-top:40px;
}

#rightPanel {
	position:fixed;
	right:1.5%;
	top:1.5%;
	padding:10px;
	width:20%;
	min-width:200px;
	height:calc(97% - 130px);;
	overflow:auto;
}

.floatPanel {
	background:url(../img/whitesmoke.png);
	border-radius:5px;
	//border-style:solid;
	border-color:#54A148;
	border-width:2px;
	box-shadow: 1px 1px 4px #888888;
}


#listings2 {
	height:40%;
	overflow-x:hidden;
    overflow-y: auto;
}

#listings {
	height:40%;
	overflow: auto;
}

.row {
	//background-color:blue;
}


.largeTimeline {
	height:180px;
}
.medTimeline {
	height:140px;
}
.smallTimeline {
	height:100px;
}
.xsmallTimeline {
	height:60px;
}

h1 {
	margin-top:-5px;
}

.leaflet-container {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	cursor: default;
}

#mapTEST {
	min-height: 650px;
	background-color:green;
}



.listings .item {
  display:block;
  width:90%;
  margin-left:5%;
  margin-right: 5%;
  //border:1px solid #eee;
  padding:10px;
  text-decoration:none;
  border-style:solid;
  border-color:darkgrey;
  border-width:1px;
  background-color:whitesmoke;
  margin-top:5px;
  margin-bottom:5px;
  box-shadow: 1px 1px 1px #888888;
}

.itemicon {
    position: relative;
    top: 0px;
    height: 25px;
    right: -20px;
    float:right;
}

.listings .item:hover {
  background-color:white;
  margin-left:10px;
}

.listings .selected {
  background-color:white;
  margin-left:10px;
}

.listings .item:last-child { border-bottom:none; }
.listings .item .title {
  display:block;
}
.listings .item .title small { font-weight:400; }
.listings .item.active .title,
.listings .item .title:hover { color:#8cc63f; }
.listings .item.active {
  background-color:#f8f8f8;
}

/*   Legend specific   */

#legend {
	position:fixed;
	left:30px;
	top:100px;
	height:280px;
	width:191px;
	z-index: 1000;
}

#legendImg {
	padding:10px;
	height:280px;
}

.offScreen {
	//display:none;
}

/*   Timeline specific */


.timelineContainer {
	position:fixed;
	bottom: 1.5%;
	width:97%;
	margin-left: 1.5%;
	height:120px;
	overflow:hidden;
	//min-height:85px;
}



#leftLabels {
	width:10%;
	margin-right:-10px;
    height: 100%;
    display:inline-block;
    position:fixed;
    overflow:hidden;
    z-index: 10000;
    background-color:whitesmoke;
}

.leftTitles {
	padding-left:10px;
	padding-top:3px;
}

#rightContent {
	width:90%;
    height: 100%;
	display:inline-block;
	overflow:hidden;
    position:relative;
    left:10%;
    cursor:move;
}

#timelinewrapper {
    width: 30000px;
    height: inherit;
    left:-1200px;
}

.dropdown {
    width: 90%;
}

.stackable {
    height: 25%;
    overflow: visible;
    border-right-style:solid;
    border-right-width:2px;
    border-right-color:lightgrey;
}

.hourcolumn{
    display: inline-block;
    width: 200px;
    height: inherit;
    text-align:center;
}

#mobileHide {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:url(../img/whitesmoke.png);
	z-index: 2000;
}

#mobileText {
	padding:10%;
	background-color:whitesmoke;
}

#xbutt {
	position:absolute;
	top:20px;
	right:20px;
}

.hourcolumn:hover, .selected {
	background-color:whitesmoke;
}


img.eventIcon {
	height:20px;
}

div.eventContainer {
	//display:inline;
	position:absolute;
}

#eventTable {
	width:auto;
}

div.timeElement {
	position:relative;
}

div#call_305PM{
	z-index:1505;
	left:8.33%;
}

div#call_327PM{
	z-index:1527;
	left:45%;
}

div#call_107PM {
	z-index:1307;
	left:10%;
}


